<div class="wrapper">
   <!-- Main Header -->
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div><router-outlet></router-outlet></div>
        </section>
        <!-- /.content -->
    </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
</div>
